<!DOCTYPE html><html class=''>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>

a{
    text-decoration:none;
    color:white;
}
h2{
    font-family:"Voltaire";
    text-transform:uppercase;
    margin:0;
}
body{
    background-color:#FFFCF9;
    position:relative;
    overflow:hidden;
    width:100%;
}
ul.top-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFCF9;
  }
ul.top-links li {
    float: right;
  }

ul.top-links li button {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    padding-right: 30px;
    padding-left: 30px;
    text-decoration: none;
}

ul.top-links li button:hover {
    background-color: #111111;
    color: white;
}

.blogShort{ border-bottom:1px solid #ddd; color: #fff;}
.add{background: #333; padding: 10%; height: 300px;}


.btn-blog {
    color: #ffffff;
    background-color: #000066;
    border-color: #000066;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#34ca78;
    border-color: #34ca78;
}
 h2{color:#34ca78;}
 .margin10{margin-bottom:10px; margin-right:10px;}
 
 a.deleteButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    padding: 5px;
    text-decoration: none;
    color: initial;
}

.deleteCol {
    width: 300px;
    float: right;
    padding-left: 100px;   
}

a.editButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    padding: 5px;
    width: 50px;
    text-decoration: none;
    text-align: center;
    color: initial;
}
.editCol {
    width: 300px;
    float: right;
    padding-left: 280px;   
}

.postInputs{
    text-align: center;
    font-family:"Voltaire";
}
 
</style>
</head>

<body>       
    <ul class="top-links">
        <li><a class="store" href="">LOG OUT</a></li>
    </ul>

    <form action="insertPosts.php" method="POST" class="postInputs">
        <input type="hidden" name="user_id" value= "">
        <input type="text" name="date" placeholder="Date"><br>
        <input type="text" name="author" placeholder="Author"><br>
        <input type="text" name="title" placeholder="Title"><br>
        <textarea rows="40" cols="110" name="content" placeholder="Content"></textarea>

        <input type="submit" value="Publish Comment">

</body>
</html>